In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [3]:
months = ['january', 'february', 'march', 'april', 'may', 'june','all']

days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday','sunday','all']

In [4]:
# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

def get_filters():
     
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington).
    city  = input("Enter the name of the city that you would like to view the stats for : ").lower().strip()
    
    while city not in ['chicago', 'new york city', 'washington']: 
        city = input("This city does not exist in the database! Enter another city name : ").lower().strip()

    # get user input for month (all, january, february, ... , june)
    month = input("Enter the month for which you would like to view the stats. Enter 'all' to view all months : ").lower().strip()
    while month not in months: 
        month = input("This month does not exist in the database! Enter another month or enter 'all' to view all months : ").lower().strip()
        
    # get user input for day of week (all, monday, tuesday, ... sunday)
    day = input("Enter the day of the week that you would like to view the stats for : ").lower().strip()
    while day not in days: 
        day = input("This day does not exist! Enter another day or enter 'all' to view all days :").lower().strip()

    print('-'*40)
    return city, month, day

# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

In [27]:
city, month, day = get_filters()

Hello! Let's explore some US bikeshare data!
Enter the name of the city that you would like to view the stats for : chicago
Enter the month for which you would like to view the stats. Enter 'all' to view all months : all
Enter the day of the week that you would like to view the stats for : all
----------------------------------------

In [31]:
day

'all'

In [30]:
month

'all'

In [28]:
city

'chicago'

In [29]:
months

['january', 'february', 'march', 'april', 'may', 'june', 'all']

In [10]:
days

['monday',
 'tuesday',
 'wednesday',
 'thursday',
 'friday',
 'saturday',
 'sunday',
 'all']

In [32]:
# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
     
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city.lower().strip()]) 

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    
    # convert the End Time column to datetime
    df['End Time'] = pd.to_datetime(df['End Time'])
    

    #create new columns
    df['month'] = df['Start Time'].dt.month #month
    df['day_of_week'] = df['Start Time'].dt.dayofweek #day of the week
    df['start_hour'] = df['Start Time'].dt.hour #start hour
    df['start_end_station'] = df["Start Station"] + ' - ' + df["End Station"] #combined start and end station combination
    df['trip_duration_minutes'] = df['Trip Duration']/60 #trip duration in minutes
    
    # filter by month if applicable
    if month != 'all':
        month_str = months.index(month) + 1    
        # filter by month to create the new dataframe
        df = df.loc[df['month'] == month_str]

    # filter by day of week if applicable
    if day != 'all':
        day_str = days.index(day)
        # filter by day of week to create the new dataframe
        df = df.loc[df['day_of_week'] == day_str]
        
    
    return df


# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

In [33]:
df = load_data(city, month, day)

In [34]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,start_hour,start_end_station,trip_duration_minutes
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,4,15,Wood St & Hubbard St - Damen Ave & Chicago Ave,5.350000
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,3,18,Theater on the Lake - Sheffield Ave & Waveland...,26.833333
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2,8,May St & Taylor St - Wood St & Taylor St,6.933333
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,0,13,Christiana Ave & Lawrence Ave - St. Louis Ave ...,5.833333
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,1,14,Clark St & Randolph St - Desplaines St & Jacks...,8.900000

 Do you want to see the first 5 rows of the selected data? Type 'yes' to see or 'no' to exit dfs
Invalid Input : please enter yes to see the data or no to exit
 Do you want to see the first 5 rows of the selected data? Type 'yes' to see or 'no' to exit yes
   Unnamed: 0          Start Time            End Time  Trip Duration  \
0     1423854 2017-06-23 15:09:32 2017-06-23 15:14:53            321

          Start Station              End Station   User Type Gender  \
0  Wood St & Hubbard St  Damen Ave & Chicago Ave  Subscriber   Male

   Birth Year  month  day_of_week  start_hour  \
0      1992.0      6            4          15

                                start_end_station  trip_duration_minutes
0  Wood St & Hubbard St - Damen Ave & Chicago Ave                   5.35
   Unnamed: 0          Start Time            End Time  Trip Duration  \
1      955915 2017-05-25 18:19:03 2017-05-25 18:45:53           1610

         Start Station                   End Station   User Type  Gender  \
1  Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber  Female

   Birth Year  month  day_of_week  start_hour  \
1      1992.0      5            3          18

                                   start_end_station  trip_duration_minutes
1  Theater on the Lake - Sheffield Ave & Waveland...              26.833333
   Unnamed: 0          Start Time            End Time  Trip Duration  \
2        9031 2017-01-04 08:27:49 2017-01-04 08:34:45            416

        Start Station          End Station   User Type Gender  Birth Year  \
2  May St & Taylor St  Wood St & Taylor St  Subscriber   Male      1981.0

   month  day_of_week  start_hour                         start_end_station  \
2      1            2           8  May St & Taylor St - Wood St & Taylor St

   trip_duration_minutes
2               6.933333
   Unnamed: 0          Start Time            End Time  Trip Duration  \
3      304487 2017-03-06 13:49:38 2017-03-06 13:55:28            350

                   Start Station                   End Station   User Type  \
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber

  Gender  Birth Year  month  day_of_week  start_hour  \
3   Male      1986.0      3            0          13

                                   start_end_station  trip_duration_minutes
3  Christiana Ave & Lawrence Ave - St. Louis Ave ...               5.833333
   Unnamed: 0          Start Time            End Time  Trip Duration  \
4       45207 2017-01-17 14:53:07 2017-01-17 15:02:01            534

            Start Station                   End Station   User Type Gender  \
4  Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber   Male

   Birth Year  month  day_of_week  start_hour  \
4      1975.0      1            1          14

                                   start_end_station  trip_duration_minutes
4  Clark St & Randolph St - Desplaines St & Jacks...                    8.9
   Unnamed: 0          Start Time            End Time  Trip Duration  \
5     1473887 2017-06-26 09:01:20 2017-06-26 09:11:06            586

                  Start Station           End Station   User Type Gender  \
5  Clinton St & Washington Blvd  Canal St & Taylor St  Subscriber   Male

   Birth Year  month  day_of_week  start_hour  \
5      1990.0      6            0           9

                                   start_end_station  trip_duration_minutes
5  Clinton St & Washington Blvd - Canal St & Tayl...               9.766667
   Unnamed: 0          Start Time            End Time  Trip Duration  \
6      961916 2017-05-26 09:41:44 2017-05-26 09:46:25            281

           Start Station           End Station   User Type  Gender  \
6  Ashland Ave & Lake St  Wood St & Hubbard St  Subscriber  Female

   Birth Year  month  day_of_week  start_hour  \
6      1983.0      5            4           9

                              start_end_station  trip_duration_minutes
6  Ashland Ave & Lake St - Wood St & Hubbard St               4.683333
   Unnamed: 0          Start Time            End Time  Trip Duration  \
7       65924 2017-01-21 14:28:38 2017-01-21 14:40:41            723

                Start Station                 End Station User Type Gender  \
7  Larrabee St & Kingsbury St  Larrabee St & Armitage Ave  Customer    NaN

   Birth Year  month  day_of_week  start_hour  \
7         NaN      1            5          14

                                   start_end_station  trip_duration_minutes
7  Larrabee St & Kingsbury St - Larrabee St & Arm...                  12.05
   Unnamed: 0          Start Time            End Time  Trip Duration  \
8      606841 2017-04-20 16:08:51 2017-04-20 16:20:20            689

            Start Station                    End Station   User Type Gender  \
8  Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber   Male

   Birth Year  month  day_of_week  start_hour  \
8      1984.0      4            3          16

                                   start_end_station  trip_duration_minutes
8  Sedgwick St & Huron St - Halsted St & Blackhaw...              11.483333
   Unnamed: 0          Start Time            End Time  Trip Duration  \
9      135470 2017-02-06 18:00:47 2017-02-06 18:09:00            493

                  Start Station                   End Station   User Type  \
9  Stetson Ave & South Water St  Clinton St & Washington Blvd  Subscriber

  Gender  Birth Year  month  day_of_week  start_hour  \
9   Male      1979.0      2            0          18

                                   start_end_station  trip_duration_minutes
9  Stetson Ave & South Water St - Clinton St & Wa...               8.216667
 Do you want to see the next 5 rows of the selected data? Type 'yes' to see or 'no' to exit yes
    Unnamed: 0          Start Time            End Time  Trip Duration  \
10      175805 2017-02-15 07:09:55 2017-02-15 07:14:56            301

           Start Station               End Station   User Type  Gender  \
10  Broadway & Barry Ave  Wilton Ave & Belmont Ave  Subscriber  Female

    Birth Year  month  day_of_week  start_hour  \
10      1993.0      2            2           7

                                  start_end_station  trip_duration_minutes
10  Broadway & Barry Ave - Wilton Ave & Belmont Ave               5.016667
    Unnamed: 0          Start Time            End Time  Trip Duration  \
11       71678 2017-01-22 15:15:45 2017-01-22 15:31:02            917

                     Start Station             End Station   User Type Gender  \
11  Southport Ave & Wellington Ave  Clark St & Schiller St  Subscriber   Male

    Birth Year  month  day_of_week  start_hour  \
11      1964.0      1            6          15

                                    start_end_station  trip_duration_minutes
11  Southport Ave & Wellington Ave - Clark St & Sc...              15.283333
    Unnamed: 0          Start Time            End Time  Trip Duration  \
12       19061 2017-01-08 16:03:00 2017-01-08 16:07:37            277

            Start Station               End Station   User Type Gender  \
12  Green St & Madison St  Ada St & Washington Blvd  Subscriber   Male

    Birth Year  month  day_of_week  start_hour  \
12      1961.0      1            6          16

                                   start_end_station  trip_duration_minutes
12  Green St & Madison St - Ada St & Washington Blvd               4.616667
    Unnamed: 0          Start Time            End Time  Trip Duration  \
13     1023296 2017-05-30 15:46:18 2017-05-30 15:52:12            354

                 Start Station        End Station   User Type Gender  \
13  Larrabee St & Kingsbury St  Clark St & Elm St  Subscriber   Male

    Birth Year  month  day_of_week  start_hour  \
13      1985.0      5            1          15

                                 start_end_station  trip_duration_minutes
13  Larrabee St & Kingsbury St - Clark St & Elm St                    5.9
    Unnamed: 0          Start Time            End Time  Trip Duration  \
14      611000 2017-04-20 19:26:33 2017-04-20 19:35:08            515

            Start Station                      End Station   User Type Gender  \
14  Canal St & Madison St  Racine Ave (May St) & Fulton St  Subscriber   Male

    Birth Year  month  day_of_week  start_hour  \
14      1984.0      4            3          19

                                    start_end_station  trip_duration_minutes
14  Canal St & Madison St - Racine Ave (May St) & ...               8.583333

 Do you want to see the next 5 rows of the selected data? Type 'yes' to see or 'no' to exit no

In [10]:

# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    print('The most common month of travel is : ' + months[(df.loc[:,"month"].mode()[0])-1].title()) 

    # display the most common day of week
    print('The most common day of travel is : ' + days[(df.loc[:,"day_of_week"].mode()[0])].title())

    # display the most common start hour
    print('The most common start hour is : ' + str(df.loc[:,"start_hour"].mode()[0]))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [11]:
time_stats(df)

Calculating The Most Frequent Times of Travel...

The most common month of travel is : June
The most common day of travel is : Wednesday
The most common start hour is : 8

This took 0.01395416259765625 seconds.
----------------------------------------

In [12]:

# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()
    
    # display most commonly used start station
    print('The most commonly used start station is : ' + (df.loc[:,"Start Station"].mode()[0]).title()) 

     # display most commonly used end station
    print('The most commonly used end station is : ' + (df.loc[:,"End Station"].mode()[0]).title()) 

    # display most frequent combination of start station and end station trip
    print('The most commonly used end station is : ' + (df.loc[:,"start_end_station"].mode()[0]).title()) 

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

    
# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [13]:
station_stats(df)

Calculating The Most Popular Stations and Trip...

The most commonly used start station is : Columbus Circle / Union Station
The most commonly used end station is : Columbus Circle / Union Station
The most commonly used end station is : Jefferson Dr & 14Th St Sw - Jefferson Dr & 14Th St Sw

This took 0.17720842361450195 seconds.
----------------------------------------

In [14]:
    
# ************************* done do NOT change*********************************    
# ************************* done do NOT change********************************* 

def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('Total travel time in minutes is ' + str(df['trip_duration_minutes'].sum()))


    # display mean travel time
    print('mean traveltime per trip in minutes is ' + str(df['trip_duration_minutes'].mean()))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

         
# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [15]:
trip_duration_stats(df)

Calculating Trip Duration...

Total travel time in minutes is 6186399.758066668
mean traveltime per trip in minutes is 20.62133252688886

This took 0.0016758441925048828 seconds.
----------------------------------------

In [35]:
# ************************* done do NOT change*********************************    
# ************************* done do NOT change********************************* 
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()
    
    print('Counts of user types : \n') 
    # Display counts of user types
    print(df['User Type'].value_counts())

    if city != 'washington':
        print('\nCounts of gender : \n') 
        # Display counts of gender
        print(df['Gender'].value_counts()) 

    # Display earliest year of birth 
    if city != 'washington':
        print('\nThe earliest year of birth is : ' + str(df['Birth Year'].min()))
     
    # Display most recent year of birth
    if city != 'washington':
        print('\nThe most recent year of birth is : ' + str(df['Birth Year'].max()))    
    
    # Display most common year of birth
    if city != 'washington':
        print('\nThe most common year of birth is : ' + str(df['Birth Year'].mode()))  
 

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)
# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [36]:
user_stats(df)

Calculating User Stats...

Counts of user types :

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

Counts of gender :

Male      181190
Female     57758
Name: Gender, dtype: int64

The earliest year of birth is : 1899.0

The most recent year of birth is : 2016.0

The most common year of birth is : 0    1989.0
Name: Birth Year, dtype: float64

This took 0.0655057430267334 seconds.
----------------------------------------

In [18]:
# function , then while loop to always display first 5 rows, break when user enters no

# ************************* done do NOT change*********************************    
# ************************* done do NOT change********************************* 

def display_selected_data(df):
    
    counter = 0 
    upper_lim = 4

    while True:

        if counter == 0:
            see_data_flg = input(" Do you want to see the first 5 rows of the selected data? Type 'yes' to see or 'no' to exit ").lower().strip()
        else:
            see_data_flg = input(" Do you want to see the next 5 rows of the selected data? Type 'yes' to see or 'no' to exit ").lower().strip()        

        if see_data_flg == 'yes':
            while counter <= upper_lim:
                print(df.iloc[[counter]]) 
                counter = counter + 1        

        upper_lim = upper_lim + 5

        if see_data_flg == 'no':
            break

        if see_data_flg not in ['yes','no']:
            print('Invalid Input : please enter yes to see the data or no to exit')

# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [19]:
display_selected_data(df)

 Do you want to see the first 5 rows of the selected data? Type 'yes' to see or 'no' to exit yes
   Unnamed: 0          Start Time            End Time  Trip Duration  \
0     1621326 2017-06-21 08:36:34 2017-06-21 08:44:43        489.066

          Start Station     End Station   User Type  month  day_of_week  \
0  14th & Belmont St NW  15th & K St NW  Subscriber      6            2

   start_hour                      start_end_station  trip_duration_minutes
0           8  14th & Belmont St NW - 15th & K St NW                 8.1511
   Unnamed: 0          Start Time            End Time  Trip Duration  \
1      482740 2017-03-11 10:40:00 2017-03-11 10:46:00        402.549

                Start Station                   End Station   User Type  \
1  Yuma St & Tenley Circle NW  Connecticut Ave & Yuma St NW  Subscriber

   month  day_of_week  start_hour  \
1      3            5          10

                                   start_end_station  trip_duration_minutes
1  Yuma St & Tenley Circle NW - Connecticut Ave &...                6.70915
   Unnamed: 0          Start Time            End Time  Trip Duration  \
2     1330037 2017-05-30 01:02:59 2017-05-30 01:13:37        637.251

                    Start Station    End Station   User Type  month  \
2  17th St & Massachusetts Ave NW  5th & K St NW  Subscriber      5

   day_of_week  start_hour                               start_end_station  \
2            1           1  17th St & Massachusetts Ave NW - 5th & K St NW

   trip_duration_minutes
2               10.62085
   Unnamed: 0          Start Time            End Time  Trip Duration  \
3      665458 2017-04-02 07:48:35 2017-04-02 08:19:03       1827.341

                      Start Station                 End Station User Type  \
3  Constitution Ave & 2nd St NW/DOL  M St & Pennsylvania Ave NW  Customer

   month  day_of_week  start_hour  \
3      4            6           7

                                   start_end_station  trip_duration_minutes
3  Constitution Ave & 2nd St NW/DOL - M St & Penn...              30.455683
   Unnamed: 0          Start Time            End Time  Trip Duration  \
4     1481135 2017-06-10 08:36:28 2017-06-10 09:02:17       1549.427

                                 Start Station            End Station  \
4  Henry Bacon Dr & Lincoln Memorial Circle NW  Maine Ave & 7th St SW

    User Type  month  day_of_week  start_hour  \
4  Subscriber      6            5           8

                                   start_end_station  trip_duration_minutes
4  Henry Bacon Dr & Lincoln Memorial Circle NW - ...              25.823783
 Do you want to see the next 5 rows of the selected data? Type 'yes' to see or 'no' to exit yes
   Unnamed: 0          Start Time            End Time  Trip Duration  \
5     1148202 2017-05-14 07:18:18 2017-05-14 07:24:56          398.0

   Start Station                                        End Station  \
5  1st & K St SE  Eastern Market Metro / Pennsylvania Ave & 7th ...

    User Type  month  day_of_week  start_hour  \
5  Subscriber      5            6           7

                                   start_end_station  trip_duration_minutes
5  1st & K St SE - Eastern Market Metro / Pennsyl...               6.633333
   Unnamed: 0          Start Time            End Time  Trip Duration  \
6     1594275 2017-06-19 08:41:43 2017-06-19 09:00:08       1105.429

             Start Station    End Station   User Type  month  day_of_week  \
6  Park Rd & Holmead Pl NW  8th & H St NW  Subscriber      6            0

   start_hour                        start_end_station  trip_duration_minutes
6           8  Park Rd & Holmead Pl NW - 8th & H St NW              18.423817
   Unnamed: 0          Start Time            End Time  Trip Duration  \
7     1601832 2017-06-20 05:54:42 2017-06-20 06:05:18        636.218

   Start Station                    End Station   User Type  month  \
7  1st & D St SE  Potomac & Pennsylvania Ave SE  Subscriber      6

   day_of_week  start_hour                              start_end_station  \
7            1           5  1st & D St SE - Potomac & Pennsylvania Ave SE

   trip_duration_minutes
7              10.603633
   Unnamed: 0          Start Time            End Time  Trip Duration  \
8      574182 2017-03-24 20:37:00 2017-03-24 20:42:00         328.53

    Start Station     End Station   User Type  month  day_of_week  start_hour  \
8  18th & R St NW  15th & P St NW  Subscriber      3            4          20

                 start_end_station  trip_duration_minutes
8  18th & R St NW - 15th & P St NW                 5.4755
   Unnamed: 0          Start Time            End Time  Trip Duration  \
9      327058 2017-02-20 21:12:00 2017-02-20 21:31:00        1188.09

           Start Station           End Station   User Type  month  \
9  17th & Corcoran St NW  Lynn & 19th St North  Subscriber      2

   day_of_week  start_hour                             start_end_station  \
9            0          21  17th & Corcoran St NW - Lynn & 19th St North

   trip_duration_minutes
9                19.8015
 Do you want to see the next 5 rows of the selected data? Type 'yes' to see or 'no' to exit no