In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [24]:
months = ['january', 'february', 'march', 'april', 'may', 'june','all']

days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday','sunday','all']

In [9]:
# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

def get_filters():
     
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington).
    city  = input("Enter the name of the city that you would like to view the stats for : ").lower().strip()
    
    while city not in ['chicago', 'new york city', 'washington']: 
        city = input("This city does not exist in the database! Enter another city name : ").lower().strip()

    # get user input for month (all, january, february, ... , june)
    month = input("Enter the month for which you would like to view the stats. Enter 'all' to view all months : ").lower().strip()
    while month not in months: 
        month = input("This month does not exist in the database! Enter another month or enter 'all' to view all months : ").lower().strip()
        
    # get user input for day of week (all, monday, tuesday, ... sunday)
    day = input("Enter the day of the week that you would like to view the stats for : ").lower().strip()
    while day not in days: 
        day = input("This day does not exist! Enter another day or enter 'all' to view all days :").lower().strip()

    print('-'*40)
    return city, month, day

# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

In [18]:
city, month, day = get_filters()

Hello! Let's explore some US bikeshare data!
Enter the name of the city that you would like to view the stats for : chicago
Enter the month for which you would like to view the stats. Enter 'all' to view all months : march
Enter the day of the week that you would like to view the stats for : sunday
----------------------------------------

In [19]:
day

'sunday'

In [20]:
month

'march'

In [21]:
city

'chicago'

In [25]:
months

['january', 'february', 'march', 'april', 'may', 'june', 'all']

In [26]:
days

['monday',
 'tuesday',
 'wednesday',
 'thursday',
 'friday',
 'saturday',
 'sunday',
 'all']

In [27]:
# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
     
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city.lower().strip()]) 

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    
    # convert the End Time column to datetime
    df['End Time'] = pd.to_datetime(df['End Time'])
    

    #create new columns
    df['month'] = df['Start Time'].dt.month #month
    df['day_of_week'] = df['Start Time'].dt.dayofweek #day of the week
    df['start_hour'] = df['Start Time'].dt.hour #start hour
    df['start_end_station'] = df["Start Station"] + ' - ' + df["End Station"] #combined start and end station combination
    df['trip_duration_minutes'] = df['Trip Duration']/60 #trip duration in minutes
    
    # filter by month if applicable
    if month != 'all':
        month_str = months.index(month) + 1    
        # filter by month to create the new dataframe
        df = df.loc[df['month'] == month_str]

    # filter by day of week if applicable
    if day != 'all':
        day_str = days.index(day)
        # filter by day of week to create the new dataframe
        df = df.loc[df['day_of_week'] == day_str]
        
    
    return df


# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

In [28]:
df = load_data(city, month, day)

In [29]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,start_hour,start_end_station,trip_duration_minutes
63,402097,2017-03-26 11:40:10,2017-03-26 11:47:05,415,McClurg Ct & Erie St,Field Blvd & South Water St,Subscriber,Male,1964.0,3,6,11,McClurg Ct & Erie St - Field Blvd & South Wate...,6.916667
82,364649,2017-03-19 22:39:20,2017-03-19 23:16:01,2201,Sheridan Rd & Montrose Ave,Clarendon Ave & Junior Ter,Subscriber,Female,1977.0,3,6,22,Sheridan Rd & Montrose Ave - Clarendon Ave & J...,36.683333
164,298198,2017-03-05 13:21:22,2017-03-05 13:33:15,713,Kingsbury St & Kinzie St,Aberdeen St & Monroe St,Subscriber,Female,1988.0,3,6,13,Kingsbury St & Kinzie St - Aberdeen St & Monro...,11.883333
274,298949,2017-03-05 14:45:06,2017-03-05 15:03:34,1108,Sheffield Ave & Wellington Ave,Wood St & Milwaukee Ave,Subscriber,Female,1982.0,3,6,14,Sheffield Ave & Wellington Ave - Wood St & Mil...,18.466667
319,296895,2017-03-05 10:20:47,2017-03-05 10:36:20,933,Marshfield Ave & Cortland St,Troy St & North Ave,Subscriber,Male,1982.0,3,6,10,Marshfield Ave & Cortland St - Troy St & North...,15.550000

In [16]:
 #

In [31]:

# ************************* done do NOT change*********************************
# ************************* done do NOT change*********************************

def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    print('The most common month of travel is : ' + months[(df.loc[:,"month"].mode()[0])-1].title()) 

    # display the most common day of week
    print('The most common day of travel is : ' + days[(df.loc[:,"day_of_week"].mode()[0])].title())

    # display the most common start hour
    print('The most common start hour is : ' + str(df.loc[:,"start_hour"].mode()[0]))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [32]:
time_stats(df)

Calculating The Most Frequent Times of Travel...

The most common month of travel is : March
The most common day of travel is : Sunday
The most common start hour is : 15

This took 0.0019927024841308594 seconds.
----------------------------------------

In [33]:

# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()
    
    # display most commonly used start station
    print('The most commonly used start station is : ' + (df.loc[:,"Start Station"].mode()[0]).title()) 

     # display most commonly used end station
    print('The most commonly used end station is : ' + (df.loc[:,"End Station"].mode()[0]).title()) 

    # display most frequent combination of start station and end station trip
    print('The most commonly used end station is : ' + (df.loc[:,"start_end_station"].mode()[0]).title()) 

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

    
# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [34]:
station_stats(df)

Calculating The Most Popular Stations and Trip...

The most commonly used start station is : Streeter Dr & Grand Ave
The most commonly used end station is : Streeter Dr & Grand Ave
The most commonly used end station is : Calumet Ave & 33Rd St - State St & 33Rd St

This took 0.0029900074005126953 seconds.
----------------------------------------

In [35]:
    
# ************************* done do NOT change*********************************    
# ************************* done do NOT change********************************* 

def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('Total travel time in minutes is ' + str(df['trip_duration_minutes'].sum()))


    # display mean travel time
    print('mean traveltime per trip in minutes is ' + str(df['trip_duration_minutes'].mean()))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

         
# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [36]:
trip_duration_stats(df)

Calculating Trip Duration...

Total travel time in minutes is 45724.38333333333
mean traveltime per trip in minutes is 15.568397457723277

This took 0.0 seconds.
----------------------------------------

In [37]:
# ************************* done do NOT change*********************************    
# ************************* done do NOT change********************************* 
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()
    
    
    print('Counts of user types : \n') 
    # Display counts of user types
    print(df['User Type'].value_counts())

    print('\nCounts of gender : \n') 
    # Display counts of gender
    print(df['Gender'].value_counts()) 

    # Display earliest year of birth 
    print('\nThe earliest year of birth is : ' + str(df['Birth Year'].min()))
     
    # Display most recent year of birth
    print('\nThe most recent year of birth is : ' + str(df['Birth Year'].max()))    
    
    # Display most common year of birth
    print('\nThe most common year of birth is : ' + str(df['Birth Year'].mode()))  
 

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)
# ************************* done do NOT change*********************************    
# ************************* done do NOT change*********************************

In [38]:
user_stats(df)

Calculating User Stats...

Counts of user types :

Subscriber    2290
Customer       647
Name: User Type, dtype: int64

Counts of gender :

Male      1640
Female     650
Name: Gender, dtype: int64

The earliest year of birth is : 1899.0

The most recent year of birth is : 1999.0

The most common year of birth is : 0    1989.0
Name: Birth Year, dtype: float64

This took 0.0019931793212890625 seconds.
----------------------------------------

In [ ]:
# function , then while loop to always display first 5 rows, break when user enters no

#def display_selected_data(df):